In [3]:
#Boolean
mahasiswa_aktif = False 
type(mahasiswa_aktif)

bool

In [4]:
lulus = True
type(lulus)

bool

In [5]:
score = 65
score = 75 
score = 80
score = 90 


# Periksa isi variable score
score

90

In [6]:
wadah = 'Indonesia'
type(wadah)

str

In [7]:
wadah = True 
type(wadah)

bool

In [8]:
wadah = 23750000
type(wadah)

int

In [9]:
wadah = 5.02
type(wadah)

float

In [10]:
#Mencetak Variable
nama = "Asnawi Mangkualam"
usia = 22 
bmi = 23.2 
timnas = True

In [11]:
print(nama)
print(usia)
print(bmi)
print(timnas)

Asnawi Mangkualam
22
23.2
True

In [13]:
print("Nama\t\t:",nama)
print("Usia\t\t:", usia, 'tahun')
print("BMI\t\t:", bmi)
print("Pemain Timnas\t:", timnas)

Nama		: Asnawi Mangkualam
Usia		: 22 tahun
BMI		: 23.2
Pemain Timnas	: True

In [14]:
#Menggunakan string formatting dengan bantuan simbol {}
print("Nama\t\t: {}".format(nama))
print("Usia\t\t: {} tahun".format(usia))
print("BMI\t\t: {}".format(bmi))
print("Pemain Timnas\t: {}".format(timnas))

Nama		: Asnawi Mangkualam
Usia		: 22 tahun
BMI		: 23.2
Pemain Timnas	: True

In [16]:
#Menggunakan f-string
print(f"Nama\t\t: {nama}")
print(f"Usia\t\t: {usia} tahun")
print(f"BMI\t\t: {bmi}")
print(f"Pemain Timnas\t: {timnas}")

Nama		: Asnawi Mangkualam
Usia		: 22 tahun
BMI		: 23.2
Pemain Timnas	: True

In [17]:
panjang = 80
lebar = 100

panjang,lebar = lebar, panjang
print(f"panjang = {panjang}, lebar = {lebar}")

panjang = 100, lebar = 80

In [18]:
#Case Sensitive 

Minggu = 1 
topiK = 'MyFirstProgram.py'
ModuleLink = 'https://www.orbitguru.org'

print(f"Lihat Materi minggu ke-{minggu}, tentang {topik}, di sini: {modulelink}")

#karena Python adalah programming languange yang case sensitive sehingga haru diperhatikan besar kecil pada huruf 
#kesalahan :
# ada pada Minggu = 1 dimana yang benar minggu ( M nya harusnya kecil )
# topiK = 'MyFirstProgram.py' harusnya topik 
# ModuleLink = 'https://www.orbitguru.org' harusnya modulelink

NameError: name 'minggu' is not defined

In [1]:
#Menginput Nilai
nama  = input('Nama\t\t\t: ')
usia = input('Usia\t\t\t:')
jenkel = input('Jenis Kelamin\t\t: ')
Asal_PT = input('Asal perguruan tinggi \t: ')
prodi = input('Program studi\t\t: ')

print(f"""\nHalo! Perkenalkan, namaku {nama} dan usiaku {usia} tahun.
Aku seorang {jenkel}.
Saat ini, aku berkuliah di {Asal_PT}, jurusan {prodi}.
Salam kenal!
""")

Nama			: Awanta
Usia			:22
Jenis Kelamin		: Laki - Laki
Asal perguruan tingi 	: PENS
Program studi		: Teknik Komputer

Halo! Perkenalkan, namaku Awanta dan usiaku 22 tahun.
Aku seorang Laki - Laki.
Saat ini, aku berkuliah di PENS, jurusanTeknik Komputer.
Salam kenal!

In [2]:
#Type Casting
tahun_lahir = input('Tahun lahir Anda = ')
type(tahun_lahir)

Tahun lahir Anda = 2000

str

In [3]:
tahun_lahir = input('Tahun lahir Anda = ')
print('Usia Anda saat ini=', 2022 - tahun_lahir, 'tahun')

#Karena operasi matematikanya tidak di masukkan pada suatu variabel, malah dituliskan secara langsung

Tahun lahir Anda = 2000

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [4]:
#Type Casting
accuracy = 93.845
accuracy = int(accuracy) # float to int
print(accuracy)

93

In [6]:
jumlah_data = 30
jumlah_data = float(jumlah_data) # int to float
print(jumlah_data)

30.0

In [7]:
pressure = '101.325'
pressure = float(pressure) #string to float
print(pressure)

101.325

In [8]:
average = 0.0
average = bool(average) # float to bool
print(average)

False

In [9]:
bidang = 'Artificial Intellegence'
versi__int = int(bidang)
versi_float = float(bidang)
print(versi_int, 'dan', versi_int)

ValueError: invalid literal for int() with base 10: 'Artificial Intellegence'

In [12]:
#Exercise

In [ ]:
#Persegi
s = 4
keliling = 4*s
luas = s*s
print(keliling)
print(luas)

In [13]:
#Persegi Panjang
p = 3
l = 4
keliling = 2*(p+l)
luas = p * l
print(keliling)
print(luas)

14
12

In [14]:
#Lingkaran
r = 7
pi = 22/7
keliling = pi * r * r
luas = 2 * pi * r
print(keliling)
print(luas)

154.0
44.0

In [15]:
#Segitiga
a = 6
b = 5
c = b
t = 4
keliling = a + b + c 
luas = 0.5 * a * t 
print(keliling)
print(luas)

16
12.0